<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".upload_clothes_page2"/>
        <activity android:name=".upload_Clothes_page" />
        <activity android:name=".Sell_clothes_page" />
        <activity android:name=".rentpagerecyclerviewAdapter" />
        <activity android:name=".buyonrentpage" />
        <activity android:name=".first_page" />
        <activity android:name=".signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8289310155715439~6172346245"/>
    </application>

</manifest>